.login {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    margin: 0;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-between;

}

.loginLeft {
    margin-right: 30px;
}

.loginLeft,
.loginRigth {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;

}

.loginDesc {
    font-size: 24px;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}

.loginForget {
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton {
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b62a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}

.errorMessage {
    color: red;
}

@media (max-width: 680px) {
    .login {

        background-color: #f0f2f5;
        align-items: center;
        justify-content: center;
    }

    .loginWrapper {
        flex-direction: column;
        width: 100% !important;
        height: 100% !important;


    }

    .loginLogo,
    .loginDesc {
        text-align: center;
    }

    .loginLeft {
        margin-bottom: 50px;
        margin-top: 0;
    }

    .loginDesc {
        font-size: 20px !important;
    }


    .loginBox {
        height: 400px !important;
        padding: 20px !important;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 100px;
    }

}