/* Default styles for all screens */
.topbarContanier {
    height: 3.5rem;
    width: 100%;
    min-width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: hidden;
}

.topbarLeft {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}



.burgerMenu {
    display: none;
}

.leftfromTop {
    display: none;
}

@media (max-width: 680px) {
    .buttonLogOut2 {
        display: block;
    }

    .buttonLogOut {
        display: none;
    }

    .topbarContanier {
        overflow: hidden;
        /* min-width: 555px; */

    }

    .burgerMenu:hover+.logo {
        color: rgb(29, 21, 11);

    }

    .burgerMenu:hover+.leftfromTop {
        display: flex;

    }


    .topbarCenter {
        flex: 1;
        margin: 10px;
        min-width: 25%;

    }

    .topbarIcon {
        display: none;

    }

    .topbarLinks {
        display: none;
    }



}



.logo {
    font-size: 24px;
    margin-left: 1.3rem;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.topbarCenter {
    flex: 7;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: .7rem;
}


.searchInput {
    border: none;
    width: 70%;
}

.searchInput:focus {
    outline: none;
}

.topbarRigth {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcon {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;

}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}



.topbarImg {
    margin-left: 25px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.buttonLogOut {
    border: none;
    margin-left: 10px;
    background-color: white;
    color: #1877f2;
    padding: 5px 10px;
}

.buttonLogOut2 {
    border: none;
    margin-left: 10px;
    background-color: #1877f2;
    color: white;
    padding: 5px 10px;
}


@media (max-width:759px) {
    .burgerMenu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0;
        margin-left: 0;

    }

    .burgerMenu:hover+.leftfromTop {
        display: flex;

    }

}

@media (max-width: 490px) {


    .topbarContanier {
        display: flex;
        flex-direction: column;
        height: 7rem;
        justify-content: center;
        align-items: center;
    }

    .topbarCenter {
        display: none;
    }


    .logo {
        font-size: 26px;
        text-align: center;
    }

    .topbarContanier {
        display: flex;
        justify-content: center;
        align-items: center;

    }



}