.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.postUserName {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}