.post {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;




}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.postUserName {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
    width: 100%;
}

.postImage {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postDown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;

}

.likeIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 5px;

}

.postLikeCounter {
    font-size: 15px;

}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.comment {
    display: flex;
    margin-top: 5%;
}

.imgComment {
    width: 70px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;

}

.userComment {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    outline-color: #d4d4d4;

    border: 1px solid #d4d4d4;
    padding: 10px;
    border-radius: 20px;
}

.commentButton {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.commentButton:hover {
    background-color: #155fc1;
}

.theComments {}

.CommentProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
    margin-left: 10%;
}

.commentP {
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 20px;
    width: 52%;
    max-width: 52%;
    overflow: auto;
}

.comment {
    display: flex;
    align-items: center;
    margin-top: 10px;
}