.share {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  }
  
  .shareWrapper {
    padding: 10px;
  }
  
  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .shareTop {
    display: flex;
    align-items: center;
  }
  
  .shareInput {
    border: none;
    width: 80%;
  }
  
  .shareInput:focus {
    outline: none;
  }
  
  .shareHr {
    margin: 20px;
  }
  
  .shareButtom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .shareOptions {
    display: flex;
    margin-left: 20px;
  }
  
  .shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .shareIcon {
    font-size: 18px;
    margin-left: 3px;
  }
  
  .shareOptionText {
    font-size: 14px;
    font-weight: 500;
  }
  
  .shareButton {
    border: 0;
    background-color: green;
    color: white;
    padding: 7px;
    border-radius: 10%;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .custom-file-input {
    display: inline-block;
    width: 95px;
  }
  
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  .custom-file-input::before {
    content: 'photo/videos';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
  }
  
  .custom-file-input:hover::before {
    border-color: black;
  }
  
  .custom-file-input:hover::before {
    border-color: black;
  }
  
  .custom-file-input:active {
    outline: 0;
  }
  
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .shareProfileImg {
        margin-bottom: 15px;
    }
    .share {
      height: auto;
    }
  
    .shareWrapper {
      padding: 5px;
    }
  
    .shareTop {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .shareInput {
      width: 100%;
    }
  
    .shareButtom {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .shareOptions {
      margin: 10px 0;
    }
  
    .custom-file-input::before {
      font-size: 12px;
    }
  }

  @media  (max-width: 450px) {
    .shareButtom {
        flex-direction: column;
        align-items: center;
      }
    .shareOptions {
        flex-direction: column;
        margin-bottom: 20px;

    }

    .optionShare {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .shareProfileImg {
        margin-bottom: 10px;
    }

  }